
 

<!DOCTYPE HTML>
<html>

<head>
  <title>Career </title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
    <script src="~/Scripts/modernizr-1.5.min.js"></script>
    
    <script src="../../Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.sooperfish.js"></script>
    <script src="~/Scripts/jquery.sooperfish.js"></script>
    <script src="~/Scripts/jquery.easing-sooper.js"></script>
</head>
    <body>
    <div >
         @RenderBody()


     </div>
        
</body>
</html>
