@{
    ViewBag.Title = "Program01";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/layout.css" type="text/css" />
<script type="text/javascript" src="~/scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="~/scripts/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery.tabs.setup.js"></script>
        
     <div style="margin-left:78px;">
             
             



<div>
  <div >
    <div id="hpage">
       @* <img src="~/images/engineering.jpg" /><img src="~/images/Medical.jpg" />*@
      <ul>
           
            
           
             
        <li>
          <h2 style="color:white;">Engineering</h2>
          <div class="imgholder"><a href="/Programs/Result12345"><img  style="height:200px;width:200px;" src="~/images/top_engineer.png" alt="" /></a></div>
          <p style="color:white;"> To know about engineering engineering career click on to know degree level department and university and apply date.just click on above link Engineerin career </p>
         
        </li>
        <li>
          <h2 style="color:white;"> Medical</h2>
          <div class="imgholder"><a href="/Programs/ResultMedical"><img style="height:200px;width:200px;"src="~/images/Medical.jpg" alt="" /></a></div>
          <p style="color:white;">To know about medical career click on to know degree level department and university and apply date.just click on above link medical career and all its catogories like and all.</p>
         
        </li>
        <li>
          <h2 style="color:white;">Information Technology</h2>
          <div class="imgholder"><a href="/Programs/ResultIT"><img style="height:200px;width:200px;" src="~/images/Computer.jpg" alt="" /></a></div>
          <p style="color:white;">To know about  IT career click on to know degree level department and university and apply date.just click on above link IT career and all its catogories like  and all.</p>
         
        </li>
        <li class="last">
          <h2 style="color:white;">Business Administration</h2>
          <div class="imgholder"><a href="/Programs/ResultBusiness"><img style="height:200px;width:200px;" src="~/images/BBA.jpg" alt="" /></a></div>
          <p style="color:white;">To know about Business career click on to know degree level department and university and apply date.just click on above link  career and all its catogories like  and all.</p>
         
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>




            
        </div>
    
