@{
   
    ViewBag.Title = "Index";
}




<form action="/FileUplode/save" method="post" enctype="multipart/form-data" >

    Upload Image: <input type="file" name="image" /><br><br>
                  <input type="submit" value="upload" />
</form>